<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Ring Master</h1>
    <p>Add a new node: </p>
  </div>
</main>

<div>
  <form action="/nodes" method="POST">
    <legend>Add node</legend>
    <div class="form-group">
      <input type="text" name="name" value="" placeholder="node name"
        id="name" autofocus="autofocus" class="form-control" />
    </div>
    <div class="form-group">
      <input type="text" name="address" value="" placeholder="node address"
        id="address" autofocus="autofocus" class="form-control" />
    </div>
    <div class="form-group">
      <input type="text" hidden name="ringId" value="1" 
        id="ringId" autofocus="autofocus" class="form-control" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add node</button>
    </div>
  </form>
</div>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
